
/*--------CHARACTERS---------*/

.characters {
	background: #000000b3;
}

.characters-list {
	padding: 100px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 15px;
}

.character-card {
	border: 2px solid var(--red);
	border-radius: 7px;
	padding: 10px;
	width: 250px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: center;
	cursor: pointer;
	transition: 0.7s ease-in-out;
}

.character-card:hover {
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.683);
}
.character-card span {
	color:#fff
}

.character-photo {
	width: 100%;
	height: 250px;
	border: 2px solid var(--red);
	margin: 0 auto;
	border-radius: 7px;
	transition: 0.7s ease-in-out;
}
.character-photo:hover {
    box-shadow: 0 10px 30px rgba(135, 6, 6, 0.683);
}

.character-photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 7px;
}
/* modal-character*/
.modal-overlay {
    position: fixed;
    top: 0; 
	left: 0;
    width: 100%; 
	height: 100%;
    background: rgba(0, 0, 0, 0.505);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.modal-content {
    background: #e4e4e4a5;
    padding: 25px;
    border-radius: 15px;
    width: 90%;
	max-height: 90vh;
    max-width: 450px;
    color: #222;
    box-shadow: 0 10px 30px rgba(135, 6, 6, 0.683);
	overflow-y: auto;
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.modal-content img {
    width: 100%;
    max-height: 350px;  
    object-fit: cover;  
    border-radius: 10px;
    flex-shrink: 0; 
}
.modal-content p {
	line-height: 1.5;
	margin: 0;
	color: var(--black);
	word-wrap: break-word;
}
.modal-content h2 {
	color: var(--red);
}
.close-btn {
    position: absolute;
    top: 10px; 
	right: 15px;
    font-size: 30px;
    background: none;
	border: none;
    cursor: pointer;
}

/* PHONE CHECKER */

.phone_block {
	background: black;
	padding: 100px 0;
}

.inner_phone_block {
	margin-top: 50px;
	display: flex;
	justify-content: space-evenly;
	border: 1px solid var(--red);
	height: 300px;
	border-radius: 20px;
	align-items: center;
}

.form_phone {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_phone button {
	width: 100%;
	margin: 20px 0;
}

/* TAB SLIDER */

.tab_slider {
	background: #000000b3;
	padding: 80px 0;
    font-family: 'Georgia', serif
}
.tab_slider h3 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    border-bottom: 2px solid var(--red);
    display: block;
    margin-bottom: 30px;
	width: fit-content;
}

.tab_content_block {
	width: 100%;
    min-height: 200px;
    border-left: 5px solid var(--red);
    background: rgba(255, 255, 255, 0.03);
    padding: 30px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}
.tab_content_block h4 {
    color: var(--red);
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 15px;
	border-bottom: 1px solid rgba(139, 0, 0, 0.3);
}
.tab_content_block p {
    color: white;
    line-height: 1.6;
    font-style: italic;
}
.tab_left_side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1;
    max-width: 700px;
}

.tab_content_items {
	width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tab_content_item {
	background: rgba(20, 20, 20, 0.8);
    padding: 15px 20px;
    color: #fff;
    border: 1px solid #444;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    transition: 0.4s ease;
    text-transform: uppercase;
}
.tab_content_item:hover {
    border-color: var(--red);
    padding-left: 30px;
    box-shadow: -5px 0px 15px var(--red);
}
.tab_content_item_active {
	background: rgba(103, 0, 0, 0.406);
	color: white !important;
    font-weight: bold;
    border: 1px solid #fff;
    transform: scale(1.02);
}

.tab_contents_block {
	display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 20px;
}
.tab_image_container {
    width: 100%;
    max-width: 700px;
    height: 300px;
    overflow: hidden;
    border: 1px solid #333;
    box-shadow: 0 0 15px var(--red);
}
.tab_image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.5) contrast(1.2);
    transition: 0.5s ease;
}



/*------CARD SWITCHER------*/

.card_switcher {
	background-color: #000000b3;
	padding: 100px 0;
}

.card {
	width: 500px;
	height: 150px;
	border: 1px solid var(--red);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
}

.card p {
	color: var(--red);
	font-size: 20px;
}

.card span {
	color: white;
	font-size: 30px;
}

.inner_card_switcher {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
